name: Developmemnt builds

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release --no-restore

      - name: Run tests (Only GithubActions project)
        run: dotnet test GithubActions/GithubActions.csproj --no-build --verbosity normal
        # Executes tests only for the GithubActions project

      - name: Run app
        run: dotnet run --project GithubActions/GithubActions.csproj
        # This will show your Console.WriteLine() output in the Actions logs
